<nav class="navbar navbar-expand-md navbar-dark bg-info container">
    <a class="navbar-brand" href="/">Log Out</a>
    <div>
      <ul class="navbar-nav">
        
          <a class="nav-link" [routerLink] ="'/studentDetails'">Students</a>
          <a class="nav-link" [routerLink] ="'/teacherDetails'">Teachers</a>
          
  
        
      </ul>
    </div>
  </nav>
<h4 class="container">Details</h4>
        <table border="2px solid black" class="table table-striped container">
            <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Age</td>
                <td>Contact</td>
                <td>Remove</td>
            </tr>
            </thead>
        <tbody>
            <tr *ngFor="let teacher of teachers">
                <td>{{teacher.id}}</td>
                <td>{{teacher.name}}</td>
                <td>{{teacher.age}}</td>
                <td>{{teacher.contact}}</td>
                <td><button class="btn btn-danger" (click)="deleteTeacher(teacher.id);refresh()">Delete</button></td>
            </tr>
        </tbody>
        </table>
